*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.body{
    background-color: rgb(245, 220, 234);
}


.diseño_titulo{
    font-family: Halimun;
    font-size: 28px;
    margin-top: 10px;
    padding: 16px;
    border: 3rem;
    color: rgb(98, 100, 98);
    display: flex;
    flex-direction: row;
    
    
}

.menu_desplegable{
    display: block;
    flex-direction: column;
    font-size: 50px;
    color: gray;
    text-decoration: none;
    margin-left: 75rem;
    z-index: 100;

}

.menu_inicio{
    font-family: Baujamjuree;
    margin-right: 3rem;
    margin-top: 1rem;
    padding: 16px;
    list-style-type: none;
    text-align: right;
    font-size: 60px;
    color: red;
    list-style: none;
    display: none;
}

#lateral{
    display: block;
    background-color: rgba(53, 31, 53, 0.5);
    width: 90%;
    height: 100vh;
    
    top: 1;
    right: -100%;
    z-index: 100;
}

#lateral:target{
    right: -3%;
    transition: 2s;

}



.imagen_titulo{
 padding: 16px; 
  
}

.fotosinicio{
    margin-top: 10px;
    margin-bottom: 10px;
   
    padding: 1rem;
    border: 30px;
    display: flex;
    align-items: center;

}







.menu_pie{
    list-style-type: none;
    color: gray;
    text-decoration-line: none;
    margin: 10rem;
    padding: 8rem;
    border: 8rem;
    font-family: Baujamjuree;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    }


.contacto_pie{
    color: gray;
    text-decoration: none;
    font-size: 20px;
    font-family: Baujamjuree;
    margin: 4rem;
    padding: 16px;
    border: 10px;
    overflow: auto;
    background-color: rgb(230, 230, 197);
}

.titulo_about{
    color: grey;
    font-family: Baujamjuree;
    font-size: 50px;
    margin-right: 10rem;
    margin-left: 50rem;

}

.parrafo_about{
    color: grey;
    font-family: Baujamjuree;
    text-align: right ;
    margin-right: 4rem;
    margin-left: 47rem;
    margin-top: 2rem;
    font-size: 20px;
}

.emilia{
    font-family: Halimun;
    font-size: 50px;
    text-align: right;
    margin-right: 3rem;
}

.foto_about{
    border-radius: 20px;
    margin-left: 4rem;
    
}

.titulo_porfolio{
    font-family: Halimun;
    text-align: center;
    font-size: 50px;
    color: gray;
}

.fotos_porfolio{
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 20px;

}

.video_porfolio{
    padding: 16px;
    margin-left: 25rem;
    
}


.titulo_contacto{
    color: gray;
    font-family: Baujamjuree;
    font-size: 30px;
    margin-left: 5rem;
    font-weight: bold;
    
}

.parrafo_contacto{
    color: gray;
    font-family: Baujamjuree;
    text-align: left;
    padding: 16px;
    margin-left: 8rem;
    margin-right: 11rem;
}

.formulario_contacto{
    color: grey;
    font-family: Baujamjuree;
    text-align: left;
    padding: 16px;
    margin-left: 8rem;
    margin-right: 11rem;
}


.titulo_servicios{
    color: gray;
    font-family: Baujamjuree;
    text-align: left;
    padding: 16px;
    margin-left: 6rem;
    margin-right: 11rem;
    font-size: 70px;
}

.subtitulo_servicios{
    color: grey;
    font-family: Halimun;
    text-align: left;
    padding: 16px;
    margin-left: 12rem;
    margin-right: 15rem;
    font-size: 30px;

}

.parrafo_servicios{
    color: gray;
    font-family: Baujamjuree;
    text-align: left;
    padding: 16px;
    margin-left: 12rem;
    margin-right: 15rem;
    font-size: 30px;


}

@media screen and (max-width:600px) {
    
}



@font-face {
    font-family: Halimun;
    src: url(../font/Halimun.ttf);
}

@font-face {
    font-family: Baujamjuree;
    src: url(../font/BaiJamjuree-Light.ttf);
}

